
<div class="container">
    <div class="row">
        <div class="col">
            <img src="../img/apek.JPG" alt="apek" width="200" >
            <h1 class="display-4 text-center">ilham firmansyah</h1>
            <p class="lead text-center"> Back end</p>
        </div>
    </div>
</div>
    


